h1{
	color:pink;
	background-color: gray;
}
h2{
	color:pink;
	background-color:gray;
}
h3{
	color:pink;
	background-color:gray;
}
h4{
	color:pink;
	background-color: gray;
}
p{
	color:red;
	background-color: black;
}
table{
	color: brown;
}
